<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Govi Saviya"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoviSaviya"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupConfirmActivity" android:exported="false" />
        <activity android:name=".CreateAccountActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".OtpActivity" android:exported="false" />
        <activity android:name=".MarketplaceActivity" android:exported="false" />
        <activity android:name=".VideoTutorialsActivity" android:exported="false" />
        <activity android:name=".ExpertAdviceActivity" android:exported="false" />
        <activity android:name=".CommunityActivity" android:exported="false" />
        <activity android:name=".FindWorkersActivity" android:exported="false" />
        <activity android:name=".FinancialHelpActivity" android:exported="false" />
        <activity android:name=".PesticidesActivity" android:exported="false" />
        <activity android:name=".DiseaseAlertActivity" android:exported="false" />
        <activity android:name=".FarmCalendarActivity" android:exported="false" />
        <activity android:name=".FeedbackActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD700PA_Ac8MUGC_WJaf5q1qBEbwEtf-H4" />



    </application>


</manifest>